<!DOCTYPE html>
  <html lang="ja">
  <head>
  <meta charset="UTF-8">
  </head>
  <body>
    <section>
        <input type="button" onclick="location.href='Top'"value="Topã¸">
    </section>
    {{success}}
  </body>
</html>